/* common font */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap');

body {
    background-color: white;
}



.parent {
    display: flex;
    width: 1321px;
    height: 646px;
    background: #161616;
    border-radius: 30px;
    margin-top: 50px;
    margin-left: 140px;
    margin-right: 139px;
}

.first-div {
    width: 531px;
    height: 424px;
    margin-top: 161px;
    margin-left: 246px;
    background: #161616;
    color: white;
}

.first-div h1 {
    margin: 0;
    padding: 0;
    font-size: 70px;
}

.first-div p {

    margin: 0;
    padding: 0;
    font-size: 16px;
    font-weight: 400;
}

.first-div a {
    text-decoration: none;
    background-image: linear-gradient(red, red);
    padding: 15px 40px;
    border-radius: 5px;
    color: white;
    font-weight: 700;

}

.fa-greater-than {
    padding: 0 5px;
}

.first-image {

    margin-top: 161px;
    margin-right: 246px;
    background: #161616;
    width: 531px;
    height: 424px;
}



/* second-section */
.button-events {
    margin-top: 60px;
    margin-left: 140px;
    width: 312px;
    height: 312px;
    border: 1px solid #161616;
    border-radius: 10px;
    background: #161616;
    margin-bottom: 20px;

}

.b1 {
    margin-top: 40px;

}

.b2 {
    margin-top: 40px;

}

.b3 {
    margin-top: 40px;
}

.b1 a {

    text-decoration: none;
    border: 2px solid;
    background-color: white;
    padding: 10px 40px;
    border-radius: 10px;
    color: black;
    font-weight: 700;
    margin-left: 40px;
    font-size: 20px;
}

.b2 a {
    text-decoration: none;
    border: 2px solid;
    background-color: white;
    padding: 10px 68px;
    border-radius: 10px;
    color: black;
    font-weight: 700;
    margin-left: 40px;
    font-size: 20px;
}

.b3 a {
    text-decoration: none;
    border: 2px solid red;
    background-color: red;
    padding: 10px 95px;
    color: white;
    border-radius: 10px;
    margin-left: 40px;
    font-size: 20px;
}

/* player-section */
.second-section {
    display: flex;
    margin-top: 50px;
}

.player-div {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-row-gap: 30px;
    margin-top: 35px;

}

.player-button button {
    margin-top: 10px;
    margin-left: 10px;
    width: 67px;
    height: 24px;
    padding: 0 8px;
    border-radius: 5px;

}


.player-detail p {
    margin-left: 10px;
}

.player-icon-1 {
    display: flex;
}

.player-icon span {
    padding: 0 8px;
}

.player-icon i {
    margin-left: 10px;
}

#flex-img {
    display: flex;
}

.players {
    border: 1px solid grey;
    border-radius: 10px;
    width: 312px;
    height: 362px;
    margin-left: 18px;
    margin-top: 23px;


}

/* footer-section */
footer {
    width: 1600px;
    height: 444px;
    background: #161616;
    font-size: 40px;
    font-weight: 600;
    color: white;
    text-align: center;

}

footer hr {
    width: 70%;
}

.footer-info {
    font-size: 16px;
}

#one {
    padding: 30px;
}

#two {

    padding: 0 15px;

}